# Android Studio 관련
.gradle/
.idea/
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/gradle.xml
.idea/**/libraries
.idea/**/jsLinters
.idea/**/dictionaries
.idea/caches/build_file_checksums.ser

# 빌드 디렉터리
build/
app/build/

# Local configuration file (sdk path, etc)
local.properties

# Log 및 템프 파일
*.log
*.temp
*.tmp

# Git과 충돌할 수 있는 OS 특정 파일들
.DS_Store
Thumbs.db

# 구성 파일
*.iml
*.ipr
*.iws

# 캐시 디렉터리
.gradle/

# 특정 운영체제에만 해당하는 파일들
*.swp
*~.nib
*.orig
*.bak
*.old
*.swo
*.swn

# 키스토어 파일 (보안을 위해)
*.keystore

# NDK
obj/
objd/
.idea/caches/

# JetBrains IDE들
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/gradle.xml
.idea/**/libraries
.idea/**/jsLinters
.idea/**/dictionaries
.idea/modules.xml

# Python 파생 파일들
*.pyc
*.pyo
*.pyd

# IntelliJ
.idea/assetWizardSettings.xml
.idea/dictionaries
.idea/shelf
.idea/modules.xml

# ndk-bundle 구성 파일
.ndk-bundle/

# Windows 전용 파일들
Thumbs.db
ehthumbs.db

# macOS 전용 파일들
.DS_Store
.AppleDouble
.LSOverride
Icon?
._*
.Spotlight-V100
.Trashes