<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Recommendate"
        tools:targetApi="31">
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".NaviActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".RecommendActivity"/>
        <activity android:name=".TagActivity"/>
        <activity android:name=".ResultActivity"/>

        <!-- 1. 앱 실행 첫 로그인 -->
        <activity android:name=".LoginPage"/>
        <activity android:name=".Register"
            android:theme="@android:style/Theme.Holo.Light.Dialog"/>
        <activity android:name=".FindPWPage"/>

        <!-- nav1. 랭킹Top3 페이지 및 코스 페이지 -->
        <activity android:name=".ShowCourseList"/>
        <activity android:name=".CourseDetail"/>



    </application>

</manifest>