<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Recommendate"
        tools:targetApi="31">

        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".NaviActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- 추천 화면 -->
        <activity android:name=".RecommendActivity"/>
        <activity android:name=".TagActivity"/>
        <activity android:name=".ResultActivity"/>
        <activity android:name=".MyTagActivity"/>
        <activity android:name=".LastDatesActivity"/>

        <!-- 1. 앱 실행 첫 로그인 -->
        <activity android:name=".LoginPage"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Register" />
        <activity android:name=".FindPWPage"/>

        <!-- nav1. 랭킹Top3 페이지 및 코스 페이지 -->
        <activity android:name=".ShowCourseList"/>
        <activity android:name=".CourseDetail"/>

        <!-- Google Map Api Key & 지도 페이지-->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="${google_map_api_key}"
            />
        <activity android:name=".LocationMap"/>

    </application>

</manifest>
